* {
    margin: 0;
    padding: 0;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    overflow-x: hidden;
}

.navmenu {
    height: 10vh;
    display: flex;
    position: fixed;
    top: -10px;
    width: 100%;
    height: 10px;
    z-index: 99;
}

.navmenu ul {
    background-color: rgba(0, 0, 0, .75);
    height: 80px;
    display: flex;
    list-style: none;
    width: 100%;
    align-items: baseline;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-right: 20%;
    align-content: flex-start;
}

.navmenu ul li {
    display: flex;
    margin-top: 10px;
}


.navmenu ul li a {
    display: flex;
    color: white;
    text-decoration: none;
    margin: 18px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: baseline;
}

.navmenu ul li a:hover {
    display: flex;
    color: green;
    text-decoration: none;
    margin: 18px
}


.container-imgCOT {
    display: flex;
    position: fixed;
    top: 10px;
    margin-left: -1000px;

}

#home {
    margin-left: 650px;
    margin-top: 1.5rem;
}

.ultimo {
    border-left: 1px white dashed;
    padding-left: 1.8rem;
    position: relative;
    height: 2.5rem;
    bottom: 0.5rem;
    overflow: hidden;
    top: -7px;
}

.area-restrita {
    margin-top: 0px;
}

.container-img-Carrousell {
    display: flex;
    /* height: 600px; */
    justify-content: center;
    margin-top: -34px;
    z-index: -1;
    width: 100%;
}

.container-img-Carrousell img {
    width: 100%;
    z-index: -3;
}

.container {
    z-index: 1000;
    color: aliceblue;
    position: relative;
    top: -450px;
    left: 200px;
}

.container h2 {
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    margin-left: 180px;
    line-height: 100px;
}

.container p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 10px;
    margin-left: 200px;
}

.banner_call {
    background-color: #45b80b;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    top: -400px;
    right: -390px;
    padding-right: 65px;
    padding-left: 65px;
    padding-top: 15px;
    padding-bottom: 15px;

}

header {
    width: 100%;   
}

.choose-course {
    overflow: hidden;
    padding: 0;
    margin-top: -90px;
    text-align: center;
}

.choose-course h2 {
    position: relative;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #111;
    font-family: 'Lato', sans-serif;
    word-spacing: 0;
}

.choose-course p {
    font-weight: 900;
    text-align: center;
    line-height: 20px;
    color: #424242;
    opacity: 0.6;
    padding: 0 4em;
    width: 850px;
    margin-left: 550px;
    font-family: 'Lato', sans-serif;
}

.area-restrita {
    position: relative;
    top: 8px;

}

#images-flex-items {
  display: flex;
  position: absolute;
  left: 310px;
  top: 700px;
}

.imagens-espec {
  margin: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#CT {
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  z-index: 10;
  position: relative;
  bottom: 80px;
  left: 25px;
}

#ensino-tecnico{
  font-size: 14px;
  font-weight: bold;
  position: relative;
  left: 80px;
}

#ens-T {
  border-radius: 10px;
  position: relative;
  left: 20px;
  top: -35px;
}

#school-refG {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  bottom: 140px;
  left: 90px;
}

#referenceGoogle{
  border-radius: 10px;
  position: relative;
  bottom: 175px;
  left: 20px;
}

.graduacoes {
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  z-index: 10;
  position: relative;
  bottom: 60px;
  left: 20px;

}
.information-sistem {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  bottom: 25px;
  left: 65px;
}

.img-information-sistem {
  border-radius: 10px;
  position: relative;
  bottom: 55px;
  left: 10px;
}

.Análise {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  bottom: 40px;
  left: 65px;
}

#img-Analise {
  border-radius: 10px;
  position: relative;
  top: -75px;
  left: 10px;
}

#cience-computing{
  font-size: 14px;
  font-weight: bold;
  position: relative;
  bottom: 50px;
  left: 65px;
}

#img-cience-computing {
  border-radius: 10px;
  position: relative;
  bottom: 80px;
  left: 10px;
}

#p-graduations {
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  z-index: 10;
  position: relative;
  bottom: 55px;
  left: 20px;
}
#pós-DSDB {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  bottom: 25px;
  left: 65px;
}
#imgPOSDSDB {
  border-radius: 10px;
  position: relative;
  bottom: 60px;
  left: 10px;
}

#pos-fullstackmobile{
  font-size: 14px;
  font-weight: bold;
  position: relative;
  bottom: 45px;
  left: 65px;
}

#img-fullstackmobile {
  border-radius: 10px;
  position: relative;
  top: -90px;
  left: 10px;
}

#cursosMCD {
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  z-index: 15;
  position: relative;
  bottom: 90px;
  left: 14px;
}

.C-Auto {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  bottom: 35px;
  left: 70px;
}

#imgC-Auto{
  border-radius: 10px;
  position: relative;
  font-size: 14px;
  font-weight: 900;
  z-index: 10;
  bottom: 70px;
  left: 20px;
}




